@model ExaminaFinalVersion.Models.Student

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="~/Styles/Style.css">
    <title>Examina/SignIn</title>
</head>

<body>
    <video preload="true" autoplay loop muted>
        <source src="~/Videos/Copyright Background Waterfalls Nature Video Loop Animation.mp4" type="video/mp4">
        <source src="~/Videos/Copyright Background Waterfalls Nature Video Loop Animation.ogv" type="video/ogg">
        <source src="~/Videos/Copyright Background Waterfalls Nature Video Loop Animation.webm" type="video/webm">
    </video>
    <form method="POST" class="Sign" asp-action="SignInPost" asp-controller="Home">
        <input type="text" name="UserName" placeholder="UserName...">
        <input type="email" name="Email" placeholder="Email....">
        <input type="password" maxlength="8" name="PassWord" placeholder="PassWord....">
        <input type="password" maxlength="8" name="PassWord2" placeholder="ConfirmPassWord....">
        <input type="text" name="University" placeholder="University...">
        <button type="submit">SignIn</button>
    </form>
    <img class="scrollUp" onclick="GoUp()" src="~/Images/up-arrow.png">
    <script src="~/Script/Script.js"></script>
</body>

</html>