@model ExaminaFinalVersion.Models.Reading

@{
    ViewData["Title"] = "ShowReadingsControlPage";
    Layout = "~/_Layout4.cshtml";
}
<div style="width: 100%; height: 100px; background: none;"></div>
<div class="PersonContent" style="height:700px">
    <div class="PersonDetails">
        <p>ReadingID       :     @(Model.Reading_ID)</p>
        <p>ReadingTitle        :     @(Model.Readings_Reading_Title)</p>
        <p>ReadingScript       :     @(Model.Readings_Script)</p>
        <img src="~/CoursesData/@(Model.Readings_Image)" style="width:130px ; height:90px ;" />
    </div>
    <div class="ControlButtons">
        <a asp-action="ShowCourseControlPageDelete" asp-controller="Manage" asp-route-dataID="@Model.Reading_ID" asp-route-InfoType="Reading" style="        display: block;
        background-color: red;
        border: 1px solid #fff;
        text-align: center;
        width: 150px;
        height: 50px;
        font-size: 41px;
        color: #fff;
        border-radius: 12px;
        cursor: pointer;
">Delete</a>
        <a asp-action="ManagePage" asp-controller="Manage" style="        display: block;
        background-color: chartreuse;
        border: 1px solid #fff;
        text-align: center;
        width: 150px;
        height: 50px;
        font-size: 41px;
        color: #fff;
        border-radius: 12px;
        cursor: pointer;
">Back</a>
    </div>
</div>
