@model ExaminaFinalVersion.Models.CourseStudentRelationship

@{
    ViewData["Title"] = "ShowStudentCoursesControlPage";
    Layout = "~/_Layout4.cshtml";
}
<div style="width: 100%; height: 100px; background: none;"></div>
<div class="PersonContent" style="height:700px">
    <div class="PersonDetails">
        <p>relationID       :     @(Model.CourseStudentRelationshipID)</p>
        <p>CourseID        :     @(Model.CourseID)</p>
        <p>StudentID       :     @(Model.StudentID)</p>
    </div>
    <div class="ControlButtons">
        <a asp-action="ShowCourseControlPageDelete" asp-controller="Manage" asp-route-dataID="@Model.CourseStudentRelationshipID" asp-route-InfoType="Relation" style="        display: block;
        background-color: red;
        border: 1px solid #fff;
        text-align: center;
        width: 150px;
        height: 50px;
        font-size: 41px;
        color: #fff;
        border-radius: 12px;
        cursor: pointer;
">Delete</a>
        <a asp-action="ManagePage" asp-controller="Manage" style="        display: block;
        background-color: chartreuse;
        border: 1px solid #fff;
        text-align: center;
        width: 150px;
        height: 50px;
        font-size: 41px;
        color: #fff;
        border-radius: 12px;
        cursor: pointer;
">Back</a>
    </div>
</div>