<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="~/Styles/Style.css">
    <title>Examina/Index</title>
</head>
<body style="        background-image: url('@Url.Content("~/Images/pexels-instawalli-169789.jpg")'); background-size:cover ; background-position:center">
    <div class="nav">
        <div class="Nav_Left">
            <img src="~/Images/book.png">
            <h1>Examina</h1>
        </div>
        <ul class="Nav_Right">
            <li><a asp-action="Index" asp-controller="Home">LogOut</a></li>
        </ul>
    </div>
    @RenderBody()
    <img class="scrollUp" onclick="GoUp()" src="~/Images/up-arrow.png">

    <script src="~/Script/Script.js"></script>
</body>
</html>
